<?xml version="1.0" encoding="utf-8"?>
<!--
Sample license text.
-->
<packages>
  <package id="DynamicLanguageRuntime" version="1.2.2" targetFramework="net452" />
  <package id="IronPython" version="2.7.9" targetFramework="net452" />
  <package id="log4net" version="2.0.10" targetFramework="net452" />
  <package id="NUnit" version="3.13.2" targetFramework="net452" />
</packages>